:root {
  --font-color: #343434;
  --font-color-light: #5a5a5a;
  --color-gray: #767676;
}

html, body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #fdfdfd;

}
html {
  display: flex;
  justify-content: center;
}
body {
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
}
body {
  max-width: 900px;
}
.header {
  height: 50px;
}
.header-link {
  font-size: 20px;
}

.header-link + hr {
  height: 1px;
  background-color: var(--font-color);
  border: none;
}
a.post-preview-link:visited .post-preview__title {
  color: var(--font-gray);
}
.posts {
  list-style-type: none;
  padding: 0;
}
.header-link, .post-preview-link, .post-title {
  text-decoration: none;
  color: var(--font-color);
}

.post-preview-link {
  display: block;
  padding: 15px;
  border-radius: 20px;
}
.post-preview + .post-preview {
  margin-top: 30px;
}
.post-preview__title, .post-title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.post-preview__time, .post-date {
  font-size: 15px;
  color: var(--color-gray);
}
.post-summary {
  margin-top: 15px;
}
.post-title {
  font-size: 50px;
}
.post-content {
  margin-top: 40px;
  font-size: 22px;
  color: var(--font-color-light);
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
  color: var(--font-color);
}
