{{ define "main" }}
<div class="post">
  <a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>

  <div class="post-meta">
    {{ if .Params.Date }}
      <span class="post-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
    {{ end }}

    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a class="page-tag" href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>
</div>
{{ end }}
